
<div class="">
<h1 class="red">Blog On√</h1>
<p>Look at my Blog Posts</p>
<div class="red">
<%= link_to "Posts", posts_path, class:"btn btn-danger"%>
<%= link_to "Create Post", new_post_path, class:"btn btn-primary" %>
</div>
</div>