
<div class="">
<h1 class="red">Blog With Me</h1>
<p>Look at my Blog Posts</p>
<%= link_to "Posts", posts_path, class:"btn btn-danger"%>
<%= link_to "Create Post", new_post_path, class:"btn btn-primary" %>
</div>