
<div class="container">
<h1>Da Home Page</h1>
<p>Look at my Blog Posts</p>
<%= link_to "Posts", posts_path, class:"btn color"%>
<%= link_to "Create Post", new_post_path, class:"btn btn-primary" %>
</div>