
<div class="container">
<h1 class="red">Da Home Page</h1>
<p>Look at my Blog Posts</p>
<%= link_to "Posts", posts_path, class:"red btn "%>
<%= link_to "Create Post", new_post_path, class:"btn btn-primary" %>
</div>