<h1><%=@user.name %></h1>

<%= image_tag current_user.avatar if current_user.avatar.attached? %>
<h6><%= pluralize(@user.posts_to_plain_text, "post") %></h6>
<h6><%= pluralize(@user.views, "view") %></h6>
