<h1><%=@user.name %></h1>

<%= image_tag current_user.avatar if current_user.avatar.attached? %>
<h6>
<%= link_to pluralize(@post_count, "posts"), search_path(search_form_for: @user_name, sort: 'recent')%>

</h6>
<h6><%= pluralize(@user.views, "view") %></h6>
