@import "bootstrap/scss/bootstrap";

$primary:"yellow" ;

// Import Bootstrap again to apply the changes


// Custom style for buttons
.btn-custom {
  background-color: darken($primary, 20%);
  border: none;
  &:hover {
    background-color: darken($primary, 25%);
  }
}